build.keystore=${project.build.directory}/${build.keystore}
build.keystorepass=${build.keystorepass}
build.keystoretype=${build.keystoretype}
build.keypass=${build.keypass}
build.alias=${build.alias}
build.dname=${build.dname}
linear.keystoretype=${linear.keystoretype}
linear.keystore=${project.basedir}/src/test/resources/${linear.keystore}
linear.keystorepass=${linear.keystorepass}

